<main>
    <h2>Informații generale</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in pulvinar dolor, ac varius massa. 
            Aenean ut lectus sem. Suspendisse at lobortis lectus, convallis varius ipsum. Nulla id risus dolor. 
            Duis sed tortor in est ornare aliquam. Suspendisse maximus laoreet tellus, tincidunt fringilla lacus 
            placerat a. Duis sed massa tortor. Praesent accumsan eros eget laoreet interdum. Nunc congue sem elit.
             </p>
        <p>Ut laoreet ante justo. Curabitur ac nisi nec eros sodales dignissim. Lorem ipsum dolor sit amet, consectetur 
            adipiscing elit. Vestibulum eu mi viverra, iaculis ex id, egestas tortor. Pellentesque eget enim condimentum, 
            semper odio ac, finibus odio. Phasellus ac lorem ultricies, ornare tortor quis, eleifend enim. Morbi blandit 
            sem id lacus fringilla, ut interdum magna mattis.</p>
        
    <h2>Uitați o  listă cu unele lucrări îndeplinite de firma noastră:</h2>
    <p>Lista conține doar o parte din ce lucrăm. Pentru mai multe  detalii, contactați-ne.</p>
    <ol>
        <a href="#lucrare1"><li><h3>Lucrări pentru firme</h3></li></a>
        <a href="#lucrare2"><li><h3>Management lucrări</h3></li></a>
        <a href="#lucrare3"><li><h3>Utilaje pentru lucrări de mici sau mari</h3></li></a>
        <a href="#lucrare4"><li><h3>Utilaje pentru deszăpeziri</h3></li></a>
    </ol>
</main>
<section>
    <article>
        <h3 id="lucrare1">1. Lucrări pentru firme</h3>
        <figure>
            <img src="https://raw.githubusercontent.com/aalexeee22/Proiect-tehnici-web/main/imagini/draxlmaier.jpeg">
        <figcaption>Lisa Dräxlmaier</figcaption>
        </figure>
    </article>
    <article>
        <h3 id="lucrare2">2. Management lucrări</h3>
        <figure>
        <img src="https://github.com/aalexeee22/Proiect-tehnici-web/blob/main/imagini/muncitori2.jpeg?raw=true">
        </figure>
    </article>
    <article>
        <h3 id="lucrare3">3. Utilaje pentru lucrări de mici sau mari</h3>
        <figure>
        <img src="https://github.com/aalexeee22/Proiect-tehnici-web/blob/main/imagini/schaeff_hr_16.jpeg?raw=true">
        <figcaption>SCHAEFF HR 16</figcaption>
        </figure>
    </article>
    <article>
        <h3 id="lucrare4">4. Utilaje pentru deszăpeziri</h3>
        <figure>
            <img src="https://github.com/aalexeee22/Proiect-tehnici-web/blob/main/imagini/utilaje.jpeg?raw=true">
            <figcaption>Oricând la nevoie</figcaption>
            </figure>
    </article>
    
</section>