<body>
    <h1>Red Reef Solutions</h1>
    <nav class="meniu">
    <ul id="lista-meniu-principal">
        <li><button class="buton-meniu-principal"><a routerLink="/rrs" routeLinkActive="active">RRS</a></button></li>
        <li><button class="buton-meniu-principal"><a routerLink="/login" routeLinkActive="active">Login</a></button></li>
        <li><button class="buton-meniu-principal"><a routerLink="/register" routeLinkActive="active">Register</a></button></li>
    </ul>
    </nav>
    <header>
        <p></p>
        <p></p>
    </header>
  </body>
  <router-outlet></router-outlet>
 